@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar{
    display: flex;
    height: 100px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo{
    margin-left: 10%;
    flex: 20%;
    text-align: left;
}

.logo h1{
    font-family: 'Lobster', cursive;
    color: #180f4a;
    font-size: 34px;
}

.menu{
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a{
    text-decoration: none;
    color: #180f4a;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #ff2978;
    border-top: 4px solid #180f4a;
}

#botao {
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: #ff2978;
}

.header{
    justify-content: center;
    align-items: center;
    height: auto;
    
    display: flex;
    flex-flow: row wrap;
}

.headline{
    flex: 40%;
    margin-left: 10%;
}

.headline p{
    color: grey;
    text-align: left;
}

.contact-btn{
    display: inline-block;
    color: white;
    background: #ff2978;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

}

.contact-btn:hover{
    background: #180f4a;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
}

.img{
    max-width: 90%;
}

section{
    display: inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    width: 90%;
}

section h2 {
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #180f4a;
}

.servicos {
    display: inline-block;
    margin-top: 5%;   
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #ff2978;
}